@media only screen and (max-width: 1400px) {

    .sliderWrapper span.bgTxt {
        font-size: 240px;
    }
    #homeSlider {
        height: 89vh;
    }
    .sliderContent1 h1 {
        font-size: 52px;
    }
    .projectBox {
        width: 320px;
        height: 315px;
        margin: 0px 25px 42px;
    }
    .expTitle, .servicesTitle h1, .portfolioTitle h1 {
        font-size: 53px;
    }
    .aboutImgBox img {
        width: 110.90%;
    }
    
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    #homeSlider{
        height: 72.5vh;
    }
    .sliderWrapper .bgTxt {
        font-size: 218px !important;
    }
    .PortfolioBgWrapper span.PortfolioBgTxt {
        font-size: 265px;
    }   
    .AboutBgWrapper span.aboutBgTxt {
        font-size: 260px;
        top: 40px;
    }
    .sliderContent1 .slider-h4 {
        margin-top: 156px;
    }
    .sliderTitle {
        margin-bottom: -5px;
        font-size: 43.7px !important;
    }
    .sliderContent1 p {
        font-size: 20px;
        margin-bottom: -5px;
    }
    .sliderSubjectImg {
        background-size: 109%;
    }
    .expContent,
    .expContent2 img {
        max-width: 240px;
    }
    img.img-fluid {
        max-width: 210px;
    }
    .expContent3 .expTitle,
    .servicesTitle h1,
    .portfolioTitle h1{
        font-size: 44px;
    }
    .projectFilter li {
        padding: 20px;
    }
    .projectBox {
        width: 280px;
        height: 269px;
        margin: 0px 15px 35px;
    }
    .expContent3 p {
        font-size: 20px;
    }
    .sliderBtn,
    .expBtn,
    .portfolioBtn,
    .submitBtn,
    .skillBtn {
    width: 150px;
    height: 43px;
    font-size: 17px;
    }
    img {
        max-width: 100%;
    }
    .appDesign, .webDesign, .productDesign {
        padding: 20px;
    }
    .appDesign, .appTitle, 
    .webTitle, .productTitle {
        font-size: 28px;
    }
    .addressTitle h2 {
        font-size: 32px;
    }
    .AboutContent h1.aboutTitle, 
    h1.aboutTitle2 {
        font-size: 34px;
    }
    input, textarea {
        margin-bottom: 25px !important;
    }
    
    input::placeholder, textarea::placeholder {
        font-size: 18px;
    }
    .addressTitle p {
        margin-bottom: -5px;
    }
    i.fa-brands.fa-dribbble.footer.text-center, 
    .fa-linkedin-in, .fa-instagram, 
    .fa-behance, .fa-dribbble {
    width: 38px;
    height: 38px;
    padding: 10px;
    }
    .Footerlink {
        font-size: 16px;
    }   
    .ImgTxt {
        background: rgb(255, 89, 90);
        padding: 10px 0px;
        width: 271px;
    }
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    section {
        padding: 65px 0px;
    }
    #homeSlider{
        height: 73vh;
    }
    .brand-logo img {
        max-width: 35px !important;
    }
    .navbar .nav-link {
        font-size: 14px;
        transition: 0.3s ease;
    }   
    button.button {
        max-width: 140px;
        height: 40px;
        font-size: 16px;
    }
    .sliderWrapper .bgTxt {
        font-size: 178px !important;
        top: 160px;
    }
    .sliderContent1 .slider-h4 {
        margin-top: 100px;
        font-size: 16px;
    }
    .sliderTitle {
        margin-bottom: -5px !important;
        font-size: 39px !important;
    }
    .socialMedia {
        margin-top: 160px;
    }
    .sliderContent1 p {
        font-size: 18px;
        margin-bottom: -10px;
    }
    .sliderSubjectImg {
        background-color: 110%;
    }
    .AboutBgWrapper span.aboutBgTxt {
        font-size: 200px;
        top: 40px;
    }
    .PortfolioBgWrapper span.PortfolioBgTxt {
        font-size: 230px;
        top: 28px;
    }
    .PortfolioBgWrapper span.PortfolioBgTxt {
        font-size: 200px;
        top: 60px;
    }
    .projectFilter li {
        padding: 8px;
        font-size: 16px;
    }
    .projectBox {
        width: 205px;
        height: 197px;
        margin: 0px 12px 30px;
    }
    .servicesBgWrapper span.servicesBgTxt {
        font-size: 240px;
        top: 38px;
    }
    .expContent,
    .expContent2 img {
        max-width: 200px;
        height: 223px;
    }
    .experienceYear h2, 
    .experienceYear2 h2 {
        font-size: 14px;
    }
    
    .experienceYear h2 span, 
    .experienceYear2 h2 span {
        font-size: 50px;
    }
    .expContent h2 {
        font-size: 16px;
    }
    .expContent h2 span {
        font-size: 50px;
    } 
    .expContent2 h2 span {
        font-size: 50px;
        padding-right: 20px;
    }
    img.img-fluid {
    max-width: 81%;
    max-height: 100%;
    }
    .pb-4.skillTitle {
        font-size: 34px;
        margin-bottom: -5px;
    }
    .details span {
        font-size: 14px;
    }
    .expContent3 .expTitle,
    .servicesTitle h1,
    .portfolioTitle h1,
    .aboutTitle2{
        font-size: 31px;
    }
    .expContent3 p {
        font-size: 16px;
    }
    .sliderBtn,
    .expBtn,
    .portfolioBtn,
    .submitBtn,
    .skillBtn {
    max-width: 150px;
    height: 43px;
    font-size: 17px;
    }
    .prot1, .prot2, .prot3 {
        max-width: 190px;
        height: 190px;
    }
    .appDesign, .appTitle, 
    .webTitle, .productTitle {
        font-size: 20px;
        margin-bottom: -5px;
    }
    .serviceLogo {
        width: 40px;
    }
    /* 
    .myTabs .tabsTitle .tabButton {
        padding: 20px;
        font-size: 16px;
    }
    .protfolio1, .protfolio2, .protfolio3 {
        max-width: 190px;
        height: 190px;
    }
   .ImgTxt {
        padding: 10px 0px;
        width: 194px;
    }
    .ImgTxt h2 {
        font-size: 16px;
        line-height: 10px;
    }
    
    .ImgTxt p {
        font-size: 14px;
    }
    .ImgTxt {
        padding: 10px 0px;
        width: 193px;
    }
    .protfolio3 {
        width: 190px;
    }
    .prot1:hover .ImgTxt, 
    .prot2:hover .ImgTxt, 
    .prot3:hover .ImgTxt,
    .protfolio1:hover .ImgTxt, 
    .protfolio2:hover .ImgTxt, 
    .protfolio3:hover .ImgTxt {
        opacity: 1;
        margin-top: -78px
    }
    .protfolio3 .comingSoon h2 {
        font-size: 17px;
    }
     */
    .addressTitle h2 {
        font-size: 26px;
    }
    input, textarea {
        margin-bottom: 20px !important;
    }
    
    input::placeholder, textarea::placeholder {
        font-size: 16px;
    }
    .addressTitle p {
        margin-bottom: -5px;
        font-size: 16px;
    }
    i.fa-brands.fa-dribbble.footer.text-center, 
    .fa-linkedin-in, .fa-instagram, 
    .fa-behance, .fa-dribbble {
    width: 38px;
    height: 38px;
    padding: 10px;
    }
    .Footerlink {
        font-size: 16px;
    }
    .aboutImgBox {
        height: 63.3%;
    }
    
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #homeSlider{
        height: 70vh;
    }
    .sliderWrapper .bgTxt {
        top: 90px;
        font-size: 125px !important;
    }
    .sliderTitle {
        font-size: 45px !important;
        top: 90px;
    }
    .sliderContent1 p {
        font-size: 18px;
    }
    .sliderSubjectImg {
     background: none;
    }
    img.img-fluid {
    max-width: 81%;
    max-height: 100%;
    }
    .socialMedia {
        margin-top: -381px;
        margin-right: 1px;
    }    
    .AboutBgWrapper span.aboutBgTxt {
        font-size: 145px;
        top: 60px;
    }
    .aboutImgBox {
        height: 97.5%;
    }
    /* .SaticfiedM {
        margin-right: 0 !important;
    } */
    .aboutContent  h1,
    .servicesContent h1,
    .PortfolioContent h1 {
        font-size: 126px;
    }
    .PortfolioBgWrapper span.PortfolioBgTxt {
        font-size: 230px;
        top: 28px;
    }
    .PortfolioBgWrapper span.PortfolioBgTxt {
        font-size: 155px;
        top: 60px;
    }
    .projectBox {
        width: 373px;
        height: 339px;
        margin: 0px 30px 45px;
        text-align: center;
    }
    .projectFilter li {
        padding: 8px;
        font-size: 20px;
    }
    .servicesBgWrapper span.servicesBgTxt {
        font-size: 180px;
        top: 38px;
    }
    .expContent,
    .expContent2 img {
        max-width: 200px;
        height: 223px;
    }
    .expContent3 {
        overflow: hidden;
        padding-left: 15px;
    }
    .expContent3 .expTitle, .servicesTitle h1, 
    .portfolioTitle h1, .aboutTitle2, .skillTitle {
        font-size: 42px !important;
    }
    .aboutTitle2 {
    padding-right: 4rem;
    }
    .expContent3 p {
        font-size: 18px;
    }
    .expContent2 h2 {
        font-size: 20px;
    }
    .expContent2 h2 span {
        font-size: 60px;
        padding-right: 20px;
    }
    .appDesign {
        text-align: center;
    }.applogo, .weblogo, .productlogo {
        margin: auto;
    }
    .serviceLogo {
    width: 43px !important;
    }

    .appDesign, .appTitle, 
    .webTitle, .productTitle {
        font-size: 32px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
    .appDesign .appDec, 
    .webDec, 
    .productDec {
    font-size: 20px !important;
    text-align: center;
    }
    .prot1, .prot2, .prot3 {
        max-width: 215px;
        height: 206px;
    }
    .ImgTxt {
        padding: 10px 0px;
        width: 215px !important;
    }
    .ImgTxt h2 {
        font-size: 18px;
        line-height: 10px;
    }
    .protfolio1, .protfolio2, .protfolio3 {
        max-width: 215px;
        height: 210px;
    }
    .addressTitle h2 {
        font-size: 35px;
    }
    .skill-bar {
        padding-right: 1rem;
    }
    .contactForm {
        padding-left: 21px;
        padding-bottom: 40px;
    }
    .contactForm {
        padding: 0rem 2rem 4rem 2rem;
    }
    .addressContent {
        padding: 0 2rem 0 2rem;
    }
    .address {
        margin-bottom: 2.5rem !important;
    }
} 
/* Small devices (portrait tablets and large phones, 600px and up) 

@media only screen and (min-width: 320px) and (max-width: 425px){
    #homeSlider{
        height: 60vh;
    }
    .sliderWrapper .bgTxt {
        top: 90px;
    }
    .socialMedia{
        display: none;
    }
    .sliderTitle {
        font-size: 53px !important;
        padding-right: 5rem;
        top: 90px;
    }
    .sliderContent1 p {
        font-size: 22px;
    }
    .sliderSubjectImg {
     background: none;
    }
    img.img-fluid {
    max-width: 81%;
    max-height: 100%;
    }
    .AboutBgWrapper span.aboutBgTxt {
        font-size: 145px;
        top: 60px;
    }
    .aboutImgBox {
        height: 97.5%;
    }
    .aboutContent  h1,
    .servicesContent h1,
    .PortfolioContent h1 {
        font-size: 120px;
    }
    .PortfolioBgWrapper span.PortfolioBgTxt {
        font-size: 230px;
        top: 28px;
    }
    .PortfolioBgWrapper span.PortfolioBgTxt {
        font-size: 180px;
        top: 60px;
    }
    .servicesBgWrapper span.servicesBgTxt {
        font-size: 180px;
        top: 38px;
    }
    .expContent,
    .expContent2 img {
        max-width: 265px;
        height: 289px;
        margin-left: 25px;
    }
    .expContent3 {
        overflow: hidden;
        padding-left: 15px;
    }
    .expContent3 .expTitle, .servicesTitle h1, 
    .portfolioTitle h1, .aboutTitle2, .skillTitle {
        font-size: 42px !important;
    }
}

/*  */
@media only screen and (max-width: 575px) {
    #homeSlider{
        height: 95vh;
    }
    .container {
        max-width: 100%;
        padding: 0 20px !important;
    }
    .bgTxt {
        display: none;
    }
    .sliderTitle {
        padding-right: 0 !important;
    }
    .sliderWrapper .bgTxt {
        top: 90px;
    }
    .socialMedia{
        display: none;
    }
    .sliderTitle {
        font-size: 44px !important;
        padding-right: 5rem;
        top: 90px;
    }
    .sliderContent1 p {
        font-size: 22px;
        padding-right: 5px;
    }
    .sliderSubjectImg {
     background: none;
    }
    img.img-fluid {
    max-width: 81%;
    max-height: 100%;
    }
    .aboutImgBox {
        height: 97.5%;
    }
    .aboutContent  h1,
    .servicesContent h1,
    .PortfolioContent h1 {
        font-size: 75px;
    }
    .protfolio3 .comingSoon h2 {
        font-size: 28px;
    }
    .AboutBgWrapper span.aboutBgTxt {
        display: none;
    }
    .PortfolioBgWrapper span.PortfolioBgTxt {
        display: none;       
    }
    .PortfolioBgWrapper span.PortfolioBgTxt {
        display: none;
    }
    .projectFilter li {
        padding: 0px 8px 0px 8px;
        font-size: 18px;
    }
    .servicesBgWrapper span.servicesBgTxt {
        display: none;
    }
    .expContent,
    .expContent2 img {
        max-width: 265px;
        height: 289px;
        margin-left: 25px;
        margin: auto;
    }
    .expContent2 {
        margin: auto;
    }
    .expContent3 {
        overflow: hidden;
        padding-left: 15px;
        margin-top: 20px;
    }
    .expContent3 .expTitle, .servicesTitle h1, 
    .portfolioTitle h1, .aboutTitle2, .skillTitle {
        font-size: 35px !important;
    }
    .aboutTitle2 {
    padding-right: 0;
    }
    .expContent3 p {
        font-size: 18px;
    }
    .expContent2 h2 {
        font-size: 20px;
    }
    .expContent2 h2 span {
        font-size: 60px;
        padding-right: 20px;
    }
    .appDesign {
        text-align: center;
    }.applogo, .weblogo, .productlogo {
        margin: auto;
    }
    .serviceLogo {
    width: 43px !important;
    }

    .appDesign, .appTitle, 
    .webTitle, .productTitle {
        font-size: 32px;
        margin-bottom: 10px;
        margin-top: 10px;
        text-align: center;
    }
    .appDesign .appDec, 
    .webDec, 
    .productDec {
    font-size: 20px !important;
    text-align: center;
    }
    .prot1, .prot2, .prot3 {
        max-width: 215px;
        height: 206px;
    }
    .ImgTxt {
        padding: 10px 0px;
        width: 330px !important;
    }
    .protfolio3 {
        width: 330px;
    }
    .ImgTxt h2 {
        font-size: 20px;
        line-height: 10px;
    }
    .projectBox {
        width: 373px;
        height: 295px;
        margin: 0px 30px 38px;
    }
    .protfolio1, .protfolio2, .protfolio3 {
        max-width: 330px;
        height: 350px;
        margin: auto;
    }
    .addressTitle h2 {
        font-size: 35px;
    }
    .skill-bar {
        padding-right: 1rem;
    }
    .contactForm {
        padding-left: 21px;
        padding-bottom: 40px;
    }
    .contactForm {
        padding: 0rem 2rem 4rem 2rem;
    }
    .addressContent {
        padding: 0 2rem 0 2rem;
    }
    .address {
        margin-bottom: 2.5rem !important;
    }
}


  

